/* Seletor universal, pois aplica a formatação para todos os elementos*/
*{
    /*Fixa o tamanho do elemento de forma que não sofra alteração com o padding*/
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-image: linear-gradient(#fffccc, #202020);
}

header{
    width: 100%; /* Largura */
    height: 700px; /* Altura */
    background-color: #000000;
}

main{
    width: 100%;
     /*Configuração para a caixa crescer conforme o conteúdo*/
     min-height: 1000px;
     height: auto;
     overflow: hidden;
     /*  */
    /* background-color: beige; */
}

footer{
    width: 100%;
    height: 50px;
    background-color: #000000;
}

#produtos{
    width: 1200px;
    /*Configuração para a caixa crescer conforme o conteúdo*/
    min-height: 1000px; /*Altura minima da caixa*/
    height: auto; /*Altura automatica*/
    overflow: hidden; /*Permite desabilitar a barra de rolagem*/
    /*  */
    border: solid 1px #000000;
    /* Centraliza um objeto */
    margin-left: auto;
    margin-right: auto;

    padding-top: 50px;
    padding-left: 50px;

    /*Permite ativar o recurso do grid*/
    display: grid;

    /*Define a largura de cada elemento do GRID
        Conforme o tamanho estabelecido é a quantidade de elementos
                            Col 1  Col 2   Col 3
        */
    grid-template-columns: 350px   350px   350px;

    /* Espaçamento entre as linhas dos elementos (margin-bottom) */
    row-gap: 20px;

    /* Espaçamento entre colunas dos elementos (margin-right) */
    column-gap: 20px;
    
}

.card-produto{
    /* width: 350px; */
    height: 450px;
    background-color: #ffffff;
    /* float: left; */
    /* margin-right: 20px;    */
    /* margin-bottom: 20px; */
    /*Permite colocar efeito 3D na caixa*/
    box-shadow: 10px 15px 20px rgb(154, 152, 152);
}

.card-produto h2{
    width: 100%;
    height: 80px;
    /* background-color: cadetblue; */
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    padding-top: 10px;
    margin-bottom: 10px;

}

.card-produto figure{
    width: 200px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.card-produto figure img{
    width: inherit; /*herda o valor do elemento pai*/
    height: inherit; /*herda o valor do elemento pai*/
    margin-left: auto;
    margin-right: auto;
}

.card-produto p{
    width: 100%;
    height: 100px;
    /* background-color: beige; */
    font-family: verdana;
    font-size: 0.9em;
    line-height: 1.5;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

.produto-preco-old{
    display: block;
    width: 100%;
    height: 30px;
    padding-top: 10px;
    padding-right: 10px;
    font-family: arial;
    text-decoration: line-through; /*Risca o preço antigo*/
    font-size: 0.8em;
    color: #bab7b6;
    text-align: right;
    /* background-color: aquamarine; */
}

.produto-preco{
    display: block;
    width: 100%;
    height: 30px;
    font-family: arial;
    font-weight: 600;
    text-align: center;
    font-size: 1.1em;
    /* background-color: bisque; */
    padding-top: 5px;
    margin-bottom: 5px;
}

.comprar{
    width: 100px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #05520b;
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    border-radius: 30px; /*Permite arredondar as bordas*/
}

.comprar:hover{
    cursor: pointer;
    background-color: #000000;
    transition: 1s; /*aplica um timer de 1s para realizar a formatação*/
    /* width: 110px;
    height: 35px; */
    transform: scale(1.2); /*Permite aplicar zoom 
    */
}

.card-produto:hover{
    transform: scale(1.1); /*Permite aplicar zoom */
    transition: 1s;
}


/* SEÇÃO DO MENU */

#menu{
    width: 1200px;
    height: 50px;
    /* background-color: aquamarine; */
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.menu-item{
    width: 70%;
    height: 100%;
    /* background-color: #05520b; */
    margin-left: auto;
    margin-right: auto;
}

.menu-item li{
    width: 150px;
    height: inherit;
    float: left; /*Coloca os elementos na horizontal*/
    /* background-color: brown; */
    margin-right: 10px;
    font-family: arial;
    font-size: 1em;
    text-align: center;
    font-weight: 600;

    list-style: none; /*Remove o marcador*/
    padding-top: 15px;
    color: #ffffff;
}

.menu-item li:hover{
    background-color: chartreuse;
    color: #000000;
    transition: 1s;
    cursor: pointer;
}

/* SUB MENU */

.submenu{
    background-color:  chartreuse;
    width: 150px;
    height: 300px;

    /* Permite  manipular o objeto de forma absoluta*/
    position: absolute;
    /* Número do indice que o elemento recebe (de 1 até 999)  */
    z-index: 999;
    margin-top: 15px;

    /* Permite ocultar a caixa do submenu */
    display: none;
}

.submenu li{
    height: 50px;
    color: #000000;
}

.submenu li:hover{
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

/* Ao passar o mouse na li do menu iremos acionar o sub menu */
.menu-item li:hover > .submenu{
    /* Permite ativar a visualização do elemento */
    display: block;
    
}

/* SEÇÃO DO SLIDER */
#slider{
    width: 100%;
    height: 650px;
    /* background-color: aquamarine; */
    /* Permite colocar uma imagem como background */
    background-image: url(../imagens/slider02.jpg);
    /* Permite gerenciar se a imagem irá se repetir */
    background-repeat: no-repeat;
    /* Permite ajustar o tamanho de uma imagem */
    /* background-size: 100px 100px; */
    /* background-size: cover; */
    background-size: cover;
    /* Permite alinhar a imagem no fundo (horizontal e vertical) */
    background-position: center center;
    /* Permite fixar a imagem no fundo fazendo uma rolagem com efeito (3D)  */
    background-attachment: fixed;

    padding-top: 50px;

   z-index: 2;

}

#cadastro{
    width: 400px;
    height: 500px;
    /* rgb() permite colocar uma cor */
    /* rgba() permite colocar uma cor com efeito alpha - transparencia */
    /* background-color: rgba(0,0,0,50%); */
    margin-left: auto;
    margin-right: auto;
    /* Efeito de transparencia de vidro */
    backdrop-filter: blur(8px);
    /* Efeito de sombra na caixa */
    box-shadow: 10px 10px 20px #000000;

    padding-left: 20px;
    padding-right: 20px;

    z-index: 1;

        
}

#cadastro form{
    color: #ffffff;
}

#cadastro h2{
    width: 100%;
    height: 50px;
    font-family: verdana;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    /* background-color: aqua; */
    padding-top: 12px;
}

#cadastro label{
    display: block;
    width: 100%;
    height: 20px;
    /* background-color: aquamarine; */
    font-family: arial;
    font-size: 0.8em;
    color: #ffffff;
}

#cadastro input[type='text'], [type='email']{
    width: 80%;
    height: 25px;
    border-radius: 5px;
    
}

#cadastro input[type='radio'], [type='checkbox']{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#cadastro input{
    margin-bottom: 20px;
}

#cadastro input[type = 'button'], [type = 'reset']{
    width: 100px;
    height: 30px;
    background-color: #4fc949;
    font-family: verdana;
    border: none;
    border-radius: 30px;
    font-weight: 600;
}

#cadastro input[type = 'reset']{
    background-color: #d47361;
}

#cadastro input[type = 'button']:hover, #cadastro input[type='reset']:hover{
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

#cadastro select{
    width: 50%;
    height: 25px;
    margin-bottom: 20px;
}
